MAIL_MAIN_USERNAME="mainuser"
MAIL_MAIN_PASSWORD="secure"
MAIL_OTHER_USERNAME="otheruser"
MAIL_OTHER_PASSWORD="secure"

MAIL_SENDER_MAIN_USERNAME="mainuser"
MAIL_SENDER_MAIN_PASSWORD="secure"
MAIL_SENDER_OTHER_USERNAME="otheruser"
MAIL_SENDER_OTHER_PASSWORD="secure"

MATRIX_HOMESERVER="https://matrix.org"
MATRIX_USERNAME="@myuser:matrix.org"
MATRIX_PASSWORD="secure"

OPENAI_API_KEY="apikey"

POSTGRES_DB=inboxcollab
POSTGRES_USER=inboxcollab
POSTGRES_PASSWORD=secure
DATABASE_URL="postgres://inboxcollab:secure@db:5432/inboxcollab?sslmode=disable"
